<div class="pm-top-nav" ng-include="'app/templates/top-nav.html'"></div>
<div class="clearfix">
	<div class="col-md-2 pm-side-nav" ng-include="'app/templates/left-nav.html'"></div>
	<div class="col-md-10 col-md-offset-2">
		<div ng-include="'app/templates/title.html'"></div>
		
		
	</div>
</div>
