<div class="container">
	<div class="row">
		<div class="col s6 offset-s3">
			<div class="card hoverable small">
			  <div class="card-image">
			    <img src="assets/img/internal-server-error.png" alt="Internal server error">
			    <span class="card-title">{{error1}}</span>
			  </div>

			  <div class="card-content">
			    <p class="truncate">{{error2}}</p>
			  </div>

			  <div class="card-action">
			    <a href="#/" class="btn">Try Again</a>
			  </div>
			</div>
		</div>
	</div>
</div>