<div class="container">
    <div class="row">
        <div class="col-md-4 login">
            <h1> <img src="assets/img/logo.png" class="logo" alt="Logo" ></h1>
            <form ng-submit="submit(user)">
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text"  ng-model="user.username" class="form-control" placeholder="Username" >
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                    <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
                </div>

                <a class="forgot-password" href="">Forgot Password?</a>

                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" name="btn-submit" ng-click="rippler()" class="btn" value="Login">
                    </div>
                </div>
            </form>
            <div class="text-right">
                Powered By <b><a calss="" href="www.http://technotrack.com.np/" target="_blank">Eagle Vision IT</a></b>
            </div>
            
        </div><!-- end of login div -->
    </div>
</div><!-- /container -->

