<div class="pm-top-nav" ng-include="'app/templates/top-nav.html'"></div>
<div class="clearfix">
	<div class="col-md-2 pm-side-nav" ng-include="'app/templates/left-nav.html'"></div>
	<div class="col-md-10 col-md-offset-2">
		<div ng-include="'app/templates/title.html'"></div>
		
		<script type="text/ng-template" id="userRoleForm.html">
			<form  ng-submit="submitForm(editedRole)">
			<div class="modal-header">
	        	<h3>Add New User Role</h3>
	        </div>
	        <div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" id="name" placeholder="Role" type="text" ng-model="editedRole.name">
						</div>
					</div>
				</div>
				<input type="hidden" ng-model="editedRole.ID">
			</div>
			
			<div class="modal-footer">	
				<button type="submit" class="waves-effect waves-light btn btn-primary">{{submitBtn}}</button>
        		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			</div>	
			</form>
		</script>
			

	
		<table class="table highlight pm-table bordered striped">
			<thead>
				<tr><th>S.N</th><th>Name</th><th>Action</th></tr>
			</thead>
			<tbody>
				<tr ng-dblclick="edit(r)" ng-repeat="r in roles">
					<td>{{$index+1}}</td>
					<td>{{r.name}}</td>
					<td><a href="javascript:void(0)" ng-click="delete(r)" class="waves-effect waves-light btn bt-small red">
	            		<i class="material-icons" >remove</i>
	            	</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
