<div class="pm-top-nav" ng-include="'app/templates/top-nav.html'"></div>
<div class="clearfix">
  <div class="col-md-2 pm-side-nav" ng-include="'app/templates/left-nav.html'"></div>
  <div class="col-md-10 col-md-offset-2">
    <div ng-include="'app/templates/title.html'"></div>

    <script type="text/ng-template" id="userForm.html">
    <form class="" ng-submit="submitForm(editedUser)">
      <div class="modal-header">
        <h3>Add New User</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" class="form-control" ng-model="editedUser.username" autofocus>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input id="first_name" ng-model="editedUser.first_name"  type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input id="last_name" type="text" ng-model="editedUser.last_name" class="form-control">
              </div>
            </div>
          </div>

          <input type="hidden" ng-model="editedUser.ID" >
          <div class="row" >
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Select Role</label>
                  <select class="form-control" ng-model="editedUser.user_role_id" material-select watch>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="{{r.ID}}" ng-repeat="r in roles">{{r.name}}</option>
                  </select>
                </div>
              </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" ng-model="editedUser.password" class="form-control">
              </div>
            </div>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="submit" class="waves-effect waves-light btn btn-primary">{{submitBtn}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
      </form>
    </script>
    <div class="row">
      <div class="col-xs-12">
        <table class="table pm-table table-bordered table-striped table-hover" >
          <thead>
            <tr>
              <th>S No</th>
              <th>Username</th>
              <th>Name</th>
              <th>Role</th>
              <th>Joined</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-dblclick="edit(u)" ng-repeat="u in users">
              <td>{{ $index+1 }}</td>
              <td>{{u.username}}</td>
              <td>{{u.first_name + ' ' + u.last_name}}</td>
              <td>{{u.role}}</td>
              <td>{{u.created_on}}</td>
              <td>
                <a href="javascript:void(0)" ng-click="delete(u)" class="">
                  <i class="fa fa-trash-o" ></i>
                </a>
                <a href="javascrip:void(0)" ng-click="edit(u)">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- 
<script type="text/ng-template" id="menu">
  <ul>
    <li ng-repeat="item in menu">
      {{item.name}}
      <ul ng-include=" 'menu' " onload="menu = item.children "></ul>
    </li>
  </ul>
</script>

<div ng-include=" 'menu' "></div> -->


