a{
    color: inherit;
}
@media only screen and (min-width: 993px){
    #toast-container {
        min-width: 8%;
        top: 10%;
        right: 7%;
        left: 7%;
    }
}


#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
}

@media only screen and (min-width: 993px){
   .toast {
        float: right;
    } 
}

.toast {
    border-radius: 2px;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #1E91B5;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover, .btn:focus{
    color: #fff;
    outline: none;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
body{
    margin-top: 64px;
    background-color: #eeeeee;
}

.login
{
    color:#262626;
    -webkit-box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.75);
    background: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    margin:80px auto 15px;
    float:none;
}

.login .input-group
{
    margin-bottom:5px;
}

.forgot-password{
    display: block;
    margin: 15px 0;
}

.login h1
{
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
}

.login h1 img{
        height: 95px;
    margin-bottom: 15px;
}

.login .input-group{
        margin-bottom: 10px;
}

.login .input-group-addon{
    border: 1px solid rgba(30, 145, 181, 0.75);
    background-color: #1E91B5;
    border-radius: 0;
    color:#fff;
}

.login .form-control{
    border-radius: 0px;
}

.form-control{
    padding: 18px 12px;
}

.pm-top-nav{
    
    position: fixed;
    z-index: 2;
    top: 0;
    width:100%;
}

.pm-top-nav nav{
    background-color:#00bcd4;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
}

.pm-side-nav{
    padding:0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    height: 100%;
}

.user-detail{
    background : url("../img/user-bg.jpg") no-repeat center center;
    padding: 15px;
}

.user-detail .profile-image{
    position: relative;
    top: 12px;
}

.user-detail .user-name, .user-detail .user-role{
    color: #fff;
}

.user-detail .user-name{
    margin-top: 10px;
}
.pm-side-nav ul li a{
    display:block;
    line-height: normal;
    position: relative;
    padding: 15px 15px 15px 55px;
    color:#444;  
}

.pm-side-nav ul li i{
    position: absolute;
    top: 11px;
    left: 20px;
}

.pm-side-nav ul li a:hover, .pm-side-nav ul li.active a{
    background-color: rgba(0,0,0,0.04);
    color: #00bcd4;
}

.breadcrumbs-title {
    font-size: 2.3rem;
    line-height: 1.804rem;
    margin: 15px 0;;
}

.pm-table{
    border: 1px solid #DDDDDD;
    color: #575757;
        background-color: #fff;
}

.pm-table th , .pm-table td{
    padding: 5px 15px;
}

.pm-table > thead >tr> th{
    padding: 15px;
}
.pm-table tr:hover{
    cursor: pointer;
}
.pm-table tr td{
    color: #2D2A2A;
    font-weight: 300;
}

.pm-btn,.pm-btn:hover,.pm-btn:focus{
    background-color:#00BCD4;
    color:#fff;
}

.top-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.top-nav li{
    float:left;
}

.top-nav li a{
    display:block;
    padding:22px 15px;
    color: #fff;
}

.circle {
    border-radius: 50%;
}

.left-nav{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}