<div class="user-detail">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/img/avatar.jpg" alt="" class="circle img-responsive valign profile-image">
        </div>
        <div class="col-md-8">
            <p class="user-name" href="#">{{ user.username }} &nbsp; <a href="#" ><i class="fa fa-caret-down"></i></a></p>
            <p class="user-role">Administrator</p>
        </div>
    </div>
</div>
<ul class="left-nav">
	<li class="active"><a ng-href="#/dashboard" class="waves-effect waves-cyan"><i class="material-icons">dashboard</i>Dashboard</a></li>
	<li><a ng-href="#/user" class="waves-effect waves-cyan"><i class="material-icons">supervisor_account</i>User</a></li>
	<li><a ng-href="#/user.roles" class="waves-effect waves-cyan"><i class="material-icons">perm_identity</i>User Role</a></li>
	<li><a ng-href="#/user/logout" class="waves-effect waves-cyan"><i class="material-icons">lock</i>Logout</a></li>
</ul>
