<h2 class="breadcrumbs-title"> 
	<button ng-if="addBtn" type="button" class="btn btn-default pm-btn waves-effect waves-cyan" ng-click="open()">Add New {{page}}</button>
	<span class="pull-right">{{page}}</span>
</h2>
	